<footer class='site-footer'>
	<section class="contact-wrapper" id='contact'>
	  <div class="container text-center">
	    <h4>Interested in Working Together?</h4>
	    <div class='email-btn-wrapper'><a href="mailto:dano@antfamui.com" class='btn btn-primary btn-lg'>Email dano@antfarmui.com</a></div>
	    <h5>or follow me on the web</h5>
	    <br/>
	    <ul class='list-unstyled list-inline'>
	    	<li>
	    		<a href='https://twitter.com/danolsavsky' class='social-link' target='_blank'>
	    			<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
						</span>
	    		</a>
	    	</li>
	    	<li>
	    		<a href='https://www.linkedin.com/in/danolsavsky' class='social-link' target='_blank'>
	    			<span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
						</span>
	    		</a>
	    	</li>
	    	<li>
	    		<a href='http://www.slideshare.net/DanOlsavsky/presentations' class='social-link' target='_blank'>
				    <span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-slideshare fa-stack-1x fa-inverse"></i>
						</span>
	    		</a>
	    	</li>
	    	<li>
	    		<a href='https://github.com/danolsavsky' class='social-link' target='_blank'>
				    <span class="fa-stack fa-lg">
						  <i class="fa fa-circle fa-stack-2x"></i>
						  <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
						</span>
	    		</a>
	    	</li>
	    </ul>
			
	    <p class='copyright'><small>&copy; 2015 Dan Olsavsky | <a href="/feed.xml" class='footer-link'>RSS Feed</a></small></p>
	  </div>
	</section>
</footer>


