<!-- Project One -->
<div class='project' data-toggle="modal" data-target="#modal01">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_01_style_guide_tmb.jpg" width="735" height="490" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Style Guide</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: BeVisible<br/>
				<i class='fa fa-circle-o'></i> Role: Lead UX Designer<br/>
				<i class='fa fa-circle-o'></i> Platform: Responsive Web</p>
				<p class='project-description'> I created a visual style guide to keep a forest view of all of the UI elements and to assist the development team when creating the interface components. I was able to use the guide to receive business approval on new elements too.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal One -->
<div class="modal fade" id="modal01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">BeVisible: Style Guide</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_01_style_guide.jpg" width="1280" height="6169" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Project Two -->
<div class='project' data-toggle="modal" data-target="#modal02">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_02_feed_page_tmb.jpg" width="735" height="490" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Interface Design</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: BeVisible<br/>
				<i class='fa fa-circle-o'></i> Role: Lead UX Designer<br/>
				<i class='fa fa-circle-o'></i> Platform: Responsive Web</p>
				<p class='project-description'> BeVisble was an opportunity to start an application design from scratch, with very few technical limitations. I decided to keep it simple and followed basic design priciples.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal Two -->
<div class="modal fade" id="modal02" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">BeVisible: Interface Design</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_02_feed_page.jpg" width="1280" height="2400" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Project Three -->
<div class='project' data-toggle="modal" data-target="#modal03">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_03_profile_page_tmb.jpg" width="735" height="490" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Digital Prototyping</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: BeVisible<br/>
				<i class='fa fa-circle-o'></i> Role: Lead UX Designer<br/>
				<i class='fa fa-circle-o'></i> Platform: Responsive Web</p>
				<p class='project-description'> BeVisble was an opportunity to start an application design from scratch, with very few technical limitations. I decided to keep it simple and followed basic design priciples. Because of teh simplicity, I mocked-up all of the main views of the application and wired them together using InVision. I was then able to prototype online by asking users to accomplish tasks through the image-only interface.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal Three -->
<div class="modal fade" id="modal03" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">BeVisible: Digital Protot</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_03_profile_page.jpg" width="1280" height="2400" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Project Four -->
<div class='project' data-toggle="modal" data-target="#modal04">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_04_persona_tmb.jpg" width="735" height="447" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Personas</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: BeVisible<br/>
				<i class='fa fa-circle-o'></i> Role: Lead UX Designer<br/>
				<i class='fa fa-circle-o'></i> Platform: Responsive Web</p>
				<p class='project-description'> We had limited resources for user testing as BeVisble is a startup. However, we still made assumptions for six different user types. </p>
			</div>
		</div>
	</div>
</div>

<!-- Modal Four -->
<div class="modal fade" id="modal04" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">BeVisible: Personas</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_04_persona.jpg" width="1279" height="777" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Project Five -->
<div class='project' data-toggle="modal" data-target="#modal05">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_06_currency_management_tmb.jpg" width="735" height="490" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Interface Design</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: TW<br/>
				<i class='fa fa-circle-o'></i> Role: Lead UX Designer<br/>
				<i class='fa fa-circle-o'></i> Platform: Web app, 3rd Party</p>
				<p class='project-description'> The TW project had many technical limitations that were difficult to design around. I applied the core branding assets to the existing 3rd party application and designed the interface for the new pages.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal Five -->
<div class="modal fade" id="modal05" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">TW: Interface Design</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_06_currency_management.jpg" width="1024" height="768" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Project Six -->
<div class='project' data-toggle="modal" data-target="#modal06">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_07_website_tmb.jpg" width="735" height="490" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Interface Design</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: Chase Blackwell<br/>
				<i class='fa fa-circle-o'></i> Role: Lead UX Designer, UI Developer<br/>
				<i class='fa fa-circle-o'></i> Platform: WordPress, Responsive Website</p>
				<p class='project-description'> Chase Blackwell is a professional snowboarder in Colorado. I designed and developed an online portfolio for him to showcase his skills and help him make new contacts within the snowboarding industry. The idea started with a sketch and it's now a fully functioning responsive WordPress theme.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal Six -->
<div class="modal fade" id="modal06" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Chase Blackwell: Interface Design</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_07_website.jpg" width="1600" height="3849" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Project Seven -->
<div class='project' data-toggle="modal" data-target="#modal07">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_08_feed_page_tmb.jpg" width="735" height="490" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Interface Design</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: iQilla<br/>
				<i class='fa fa-circle-o'></i> Role: Lead UX Designer<br/>
				<i class='fa fa-circle-o'></i> Platform: Responsive Web App</p>
				<p class='project-description'> The original iQilla platform concept was missing many of the elements to a good user experience. This redesign project created a better heriarchy of visual elements, more interaction, and added context to help assist the user with engaging with the system.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal Seven -->
<div class="modal fade" id="modal07" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">iQilla: Interface Design</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_08_feed_page.jpg" width="1600" height="1783" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Project Eight -->
<div class='project' data-toggle="modal" data-target="#modal08">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_09_my_site_tmb.jpg" width="735" height="490" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Interface Design</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: Antfarm Collaborative<br/>
				<i class='fa fa-circle-o'></i> Role: Lead UX Designer<br/>
				<i class='fa fa-circle-o'></i> Platform: Responsive Website</p>
				<p class='project-description'> Antfarm Collaborative was in need of a marketing website to help generate sales leads. I designed the website with the marketing messages in mind, and created a one page layout that walks potential customers through their entire process.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal Eight -->
<div class="modal fade" id="modal08" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">iQilla: Interface Design</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_09_my_site.jpg" width="2880" height="8579" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Project Nine -->
<div class='project' data-toggle="modal" data-target="#modal09">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_10_mobile_wireframes_tmb.jpg" width="735" height="490" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Wireframes</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: BeVisible<br/>
				<i class='fa fa-circle-o'></i> Role: Lead UX Designer<br/>
				<i class='fa fa-circle-o'></i> Platform: Responsive Web App</p>
				<p class='project-description'> I created wireframes to lead discussions about how the web app will respond on the iPhone 6. I used Balsamiq to mockup the wireframes and added annotations for the business and lead developer to reference.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal Nine -->
<div class="modal fade" id="modal09" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">BeVisible: Wireframes</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_10_mobile_wireframes.jpg" width="1805" height="573" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Project Ten -->
<div class='project' data-toggle="modal" data-target="#modal10">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_11_user_flow_tmb.jpg" width="735" height="490" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Task Flow</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: BeVisible<br/>
				<i class='fa fa-circle-o'></i> Role: Lead UX Designer<br/>
				<i class='fa fa-circle-o'></i> Platform: Responsive Web App</p>
				<p class='project-description'> Task flows were developed for each custom persona type for the BeVisilbe project. The task flow charts helped identify the paths that users will take as they progress through the application. It also aided in the Information Architecture process by helping me identify the structure and heirarchy of the application.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal Ten -->
<div class="modal fade" id="modal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">BeVisible: Task Flow</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_11_user_flow.jpg" width="2200" height="3400" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Project Eleven -->
<div class='project' data-toggle="modal" data-target="#modal11">
	<div class='row'>
		<div class='col-sm-6'>
			<img src="/images/sample_12_style_tile_tmb.jpg" width="735" height="490" class='img-responsive' />
		</div>
		<div class='col-sm-6 text-left'>
			<div class='project-info'>
				<div class='clearfix'>
					<div class='short-rule'></div>
				</div>
				<p class='project-title'>Style Tile</p>
				<p class='project-description'><i class='fa fa-circle-o'></i> Project: Dan Olsavsky<br/>
				<i class='fa fa-circle-o'></i> Role: UX Designer<br/>
				<i class='fa fa-circle-o'></i> Platform: Responsive Website</p>
				<p class='project-description'> Style tiles are a design deliverable that help communicate the essence of a visual brand for the web. I often create style tiles after my sketches and wireframes but before my high-fidelity mockups. This helps me get the visual language down before I invest my time in the mockup.</p>
			</div>
		</div>
	</div>
</div>

<!-- Modal Eleven -->
<div class="modal fade" id="modal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="myModalLabel">Dan Olsavsky: Style Tile</h3>
      </div>
      <div class="modal-body">
        <img src="/images/sample_12_style_tile.jpg" width="1800" height="1200" class='img-responsive' />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>